<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portofolio</title>
	<link rel="stylesheet" href="sa-2.css">
    <script src="sa-2.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h1>Welcome to my Portfolio</h1>
			<p>Selamat datang di portofolio Data Scientist saya! Saya senang Anda telah mengunjungi situs ini dan tertarik untuk mengetahui lebih banyak tentang pekerjaan dan pengalaman saya di bidang Data Science.</p>
		</section>
		<section>
			<h2>About Me</h2>
            <img src="my_photo1.jpeg" alt="My_Photo" style="float: mid; margin-right: 10px; height: 42; width: 42;">
			<p>Saya adalah seorang Data Scientist yang berpengalaman dengan keahlian dalam analisis data, pengembangan model prediktif, dan visualisasi data. Saya memiliki keinginan yang kuat untuk memecahkan masalah dengan menggunakan data dan teknologi terbaru. 
                Saya berkomitmen untuk terus belajar dan berkembang dalam bidang Data Science, serta mengembangkan keterampilan dan pengetahuan saya di bidang lain yang terkait dengan teknologi dan bisnis. Saya percaya bahwa dengan menerapkan analisis data yang cerdas dan tepat, kita dapat membuat keputusan yang lebih baik dan memberikan dampak positif bagi organisasi dan masyarakat.</p>
		</section>
		<section>
			<h2>Portfolio</h2>
			<div class="portfolio-grid">
				<div class="portfolio-item">
                    <h3>Project 1</h3>
					<img src="1.jpeg" alt="Project 1">
					<p>Disini kami memvisualisasikan game PS bedasarkan korelasi dari Count of Sales, Genre, Publisher Rank, dan Publisher Country .</p>
					<a href="#">View Project</a>
				</div>
		</section>
		<section>
			<h2>Contact Me</h2>
			<form action="submit-form.php" method="POST">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email">
				<label for="message">Message:</label>
				<textarea id="message" name="message"></textarea>
				<button type="submit">Send</button>
			</form>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Portfolio</p>
	</footer>